{% if paginacion.pages > 0 %}
    <nav role="navegacion" class="mt-16 flex items-center justify-center gap-4">
        {% if paginacion.previous %}
              <a href="{{ paginacion.previous.url }}" class="flex items-center justify-center size-10 rounded-lg border border-[#f4f0f2] dark:border-[#3a2a33] hover:bg-primary hover:text-white transition-colors">
               <span class="material-symbols-outlined">chevron_left</span>
              </a>
        {% endif %}

        {% for part  in paginacion.parts %}
            {% if part.is_link %}
                <a href="{{ part.url }}" class="flex items-center justify-center size-10 rounded-lg border border-[#f4f0f2] dark:border-[#3a2a33] hover:bg-primary hover:text-white transition-colors">
                    {{ part.title }}
                </a>
                {% else %}
                    <span class="flex items-center justify-center size-10 rounded-lg bg-primary text-white font-bold">{{ part.title }}</span>
            {% endif %}
           
        {% endfor %}

        {% if paginacion.next %}
            <a href="{{ paginacion.next.url }}" class="flex items-center justify-center size-10 rounded-lg border border-[#f4f0f2] dark:border-[#3a2a33] hover:bg-primary hover:text-white transition-colors">
                <span class="material-symbols-outlined">chevron_right</span>
            </a>
            
        {% endif %}
    </nav>
{% endif %}